.home {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	height: 100dvh;
	width: 100%;
}

.bg_img {
  position: fixed;
	height: 100%;
	width: 100%;
	inset: 0;
  object-fit: cover;
	object-position: top left;
  z-index: -2;
}

.bg_gradient {
  position: fixed;
	height: 100%;
	width: 100%;
  inset: 0;
  background: radial-gradient(
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.3)
  );
  z-index: -1;
}

.navbar {
	display: flex;
	position: absolute;
	top: 0;
	height: 12vh;
	height: 12dvh;
	justify-content: center;
	align-items: center;
	padding: 0rem;
}

.navbar-logo {
	height: 100%;
}

.hero {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.hero h1 {
	color: var(--cornsilk);
	font-size: clamp(1.6rem, 4vw, 4rem);
	margin-top: 12rem;
}

.section {
	position: relative;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	overflow: visible;
}

.section_overlay {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	transform: translateY(-99%);
	z-index: 10;
}

#light {
	background-color: var(--mossgreen);
}

#dark {
	background-color: var(--forestgreen);
}

.section_container {
	display: grid;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem;
	z-index: 20;
	background-color: transparent;
}

/* article card */

.article_card {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	background-color: var(--cornsilk);
	border-radius: 0.5rem;
	padding: 1.5vw;
	gap: 1rem;
	/* max-width: 1400px; */
	max-width: 87.5rem;
	overflow: hidden;
}

.article_card_text {
	display: grid;
	flex-direction: column;
	align-content: start;
	gap: 1rem;
  	padding: 1rem;
}

.article_card_media {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
}

.article_card_media img {
	width: 100%;
	/* max-width: 400px; */
	max-width: 25rem;
	height: auto;
	border-radius: 0.5rem;
}

/* article page */

.article_page {
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	padding: 1rem;
	gap: 1rem;
	/* max-width: 1400px; */
	max-width: 87.5rem;
	overflow: hidden;
}

.article_page_text {
	display: grid;
	flex-direction: column;
	align-content: start;
	background-color: var(--cornsilk);
	gap: 1rem;
  	padding: 2rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.article_page_media {
	display: flex;
	justify-content: flex-end;
	align-items: start;
}

.article_page_media img {
	width: 100%;
	/* max-width: 400px; */
	max-width: 25rem;
	height: auto;
	border-radius: 0.5rem;
}

/* utilities */

#left {
	justify-content: flex-start;
}
#right {
	justify-content: flex-end;
}
#center {
	justify-content: center;
}

.divider {
	height: 3px;
	width: 90%;
	margin: auto;
}

.button {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: var(--mossgreen);
	color: var(--cornsilk);
	text-decoration: none;
	border-radius: 0.25rem;
	border: none;
	transition: background-color 0.3s ease;
	/* max-width: 200px; */
	max-width: 12.5rem;
}

.button:hover {
	background-color: var(--forestgreen);
}