@font-face {
  	font-family: quicksand;
  	src: url(fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
  	font-weight: 300 800;
  	font-style: normal;
}

@font-face {
  	font-family: merriweatherSans;
  	src: url(fonts/MerriweatherSans-VariableFont_wght.ttf) format('truetype');
  	font-weight: 300 800;
  	font-style: normal;
}
@font-face {
  	font-family: merriweatherSans;
  	src: url(fonts/MerriweatherSans-Italic-VariableFont_wght.ttf) format('truetype');
  	font-weight: 300 800;
  	font-style: italic;
}

:root {
	--mossgreen: #606C38;
	--highland: #708F53;
  	--forestgreen: #283618;
  	--cornsilk: #FEFAE0;
 	--earthyellow: #DDA15E;
	--terra: #BC6C25;
}

* {
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	letter-spacing: 1px;
}

html {
  	margin: 0;
  	padding: 0;
  	overflow-x: hidden;
  	overflow-y: scroll;
  	scroll-snap-type: y proximity;
  	scroll-behavior: smooth;
}

body {
  	background-color: black;
}

h1 {
  	font-family: merriweatherSans;
  	font-size: normal;
  	font-weight: 600;
	font-size: clamp(1.25rem, 4vw, 2.75rem);
	color: var(--forestgreen);
}

h2 {
  	font-family: quicksand;
  	font-size: normal;
	font-size: clamp(1.2rem, 4vw, 2rem);
  	font-weight: 600;
}

h3 {
  	font-family: merriweatherSans;
  	font-size: normal;
  	font-weight: 300;
}

p {
  	font-family: quicksand;
  	font-size: normal;
	font-weight: 500;
	font-size: clamp(1rem, 1.75vw, 1.25rem);
	padding: 0.5rem 0;
}