.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 94vh;
}

.hero h1 {
  margin: auto 2rem;
  border-radius: 10px;
  background-color: var(--inkblue);
  letter-spacing: 30px;
  font-size: 3.5vw;
  font-weight: 100;
  color: var(--nearwhite);
}

.hero h2 {
  padding-top: 2rem;
  letter-spacing: 20px;
  font-family: poppinsFont;
  font-size: 2vw;
  font-weight: 100;
  color: var(--nearwhite);
}

@media screen and (min-width: 1200px) {
  .hero h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 250ms;
    animation: typing 1.6s;
  }
  
  .hero h2 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 250ms;
    animation: typing 1.2s steps(3);
  }
}

@keyframes typing {
  from { width: 0 }
}

@media screen and (max-width: 1200px) {
  .hero h1 {
    border-radius: 6px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 92vh;
  }

  .hero h1 {
    letter-spacing: 16px;
    font-size: 6vw;
    border-radius: 4px;
  }
  .hero h2 {
    margin: auto 2rem;
    letter-spacing: 16px;
    font-size: 4vw;
  }
}

.flyer__container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 3rem;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
}

.flyer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--nearwhite);
  height: 100%;
  max-height: 500px;
  margin-right: 3rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.flyer__content h1 {
  margin: 2rem 0;
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  background-color: var(--inkblue);
  background-image: linear-gradient(to right, var(--slateblue) 0%, var(--inkblue) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}

.flyer__content h2 {
  padding-left: 6rem;
  padding-right: 2rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(to right, #564da4, #537ea1);
  background: -webkit-linear-gradient(to right, #564da4, #537ea1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
}

.flyer__content p {
  padding-left: 6rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  background-image: -webkit-linear-gradient(to right, #000 0%, #000 100%);
  background-image: linear-gradient(to right, #000 0%, #000 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  font-family: poppinsFont;
}

.flyer__image {
  margin: auto 3rem;
}

@media screen and (min-width: 1200px) {
  .flyer__content {
    transform: translateX(40px);
    opacity: 0;
    transition: 1s ease;
  }
  
  .flyer__content.visible {
    transform: translateX(0);
    opacity: 1;
  }

  .flyer__image {
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
  }
  .flyer__image.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyer__image--card {
  display: flex;
  justify-content: center;
}

.flyer__image--card img {
  width: 500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.flyer__btn {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  background: var(--slateblue);
  background: linear-gradient(to right, #4E8DB5, #224A63);
  background: -webkit-linear-gradient(to right, #4E8DB5, #224A63);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin: 4rem -1rem;
  cursor: pointer;
  display: flex;
  transition: all 0.35s;
  outline: none;
  
}

.flyer__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.flyer__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightblue-color);
  transition: all 0.35s;
  border-radius: 4px;
}

.flyer__btn:hover {
  color: #fff;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}

.flyer__btn:hover:after {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .flyer__container, .flyer__container--services {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .flyer__content {
    margin: auto;
    width: 500px;
    max-width: 90%;
    max-height: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
  }

  .flyer__image {
    margin: 1rem 3rem;
  }

  .flyer__image--card img {
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
  }
}

@media screen and (max-width: 480px) {
  .flyer__content {
    margin-top: 1rem;
    width: 90%;
    text-align: center;
  }

  .flyer__content h1 {
    margin: 1rem auto;
    padding-left: 0;
    padding: 16px;
    font-size: 7vw;
  }
  .flyer__content h2 {
    margin: 0rem auto;
    padding-left: 0;
    padding: 16px;
    font-size: 8vw;
  }
  .flyer__content p {
    margin: 0rem auto;
    margin-bottom: 1rem;
    padding-left: 0;
    padding: 16px;
    font-size: 4vw;
  }

  .flyer__image {
    margin: 0;
  }
  .flyer__image img{
    width: 90%;
  }

  .flyer__btn {
    padding: 1rem 0;
    margin-left: -0.5rem;
    margin-right: 1.5rem;
    width: 100%;
  }
  .flyer__btn a {
    margin: auto;
    font-size: 6vw;
  }
}

.cardrow {
  background-color: var(--nearwhite);
  display: flex;
  height: 100%;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
}

.cardrow__wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 6rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardrow__card {
  border-radius: 10px;
  height: 425px;
  width: 33%;
  max-width: 350px;
  margin: 0 1rem;
  align-content: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s ease-out;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.cardrow a {
  text-align: center;
  padding: 0 1rem;
  font-size: 2rem;
  padding-top: 8rem;
  text-decoration: none;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  overflow: hidden;
}

.cardrow__card button:hover {
  cursor: pointer;
}

.cardrow__card:hover {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);
  margin: 0 1.4rem;
  transform: scale(1.05);
  transition: 0.1s ease-in;
  cursor: pointer;
}

#cardrow-card1 {
  background-image: url(../Pictures/2024_MercedesE.jpg);  
}

#cardrow-card2 {
  background-image: url(../Pictures/Services__SoundDesign.jpg);
}

#cardrow-card3 {
  background-image: url(../Pictures/Services__CreativeSystem.jpg);
}

#cardrow-card4 {
  background-image: url(../Pictures/Shortfilm.jpg);
}

@media screen and (max-width: 1200px) {
  .cardrow {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .cardrow__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cardrow__card {
    width: 80%;
    margin: 1rem auto;
  }

  .cardrow p {
    font-size: 1.4rem;
    margin: 0rem;
  }
}

@media screen and (max-width: 640px) {  
  .cardrow__wrapper {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .cardrow__card {
    width: 100%;
    max-width: 300px;
    height: 350px;
  }

  .cardrow p {
    font-size: 1rem;
  }
}

.work__title h2 {
  text-align: center;
  margin: 1rem auto;
  font-size: 4rem;
  background: linear-gradient(to right, #e4e4ed, #cbdeee);
  background: -webkit-linear-gradient(to right, #e4e4ed, #cbdeee);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 480px) {
  .work__title h2 {
    font-size: 10vw;
  }
}

.mediablock-row {
  background-color: var(--inkblue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.mediablock-row img {
  width: 33%;
  max-width: 500px;
  padding: 2rem;
  margin: 0;
}

.mediablock-left {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: center;
  margin: 0;
  width: 100%;
  margin: 1rem auto;
}
.mediablock-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 100%;
  margin: 1rem auto;
}

.mediablock-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 100%;
  margin: 1rem 0rem;
}

.mediablock__text {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.mediablock__media { 
  width: 60%;
  align-content: center;
  max-width: 1000px;
}

.mediablock__text-solo {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 2rem 2rem;
}

#mediablock__item-left {
  background-color: var(--nearwhite);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#mediablock__item-right {
  background-color: var(--nearwhite);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#mediablock__item-center {
  background-color: var(--nearwhite);
  border-radius: 10px;
}

#legals_page h1 {
  font-size: 1.6rem;
  margin: 1rem 0;
}
#legals_page p, a, li{
  font-family: poppinsFont;
  font-size: 1.2rem;
  margin: 0.6rem 0;
}

.mediablock__text h1 {
  margin: 2rem 0;
  padding: 0 2rem;
  background-color: var(--inkblue);
  background-image: linear-gradient(to right, var(--slateblue) 0%, var(--inkblue) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem;
}

.mediablock__text p{
  margin: 1rem 3rem;
  padding: 0 2rem;
  font-size: 1rem;
  font-family: poppinsFont;
}
.mediablock__text ul {
  margin: 1rem 3rem;
  padding: 0 2rem;
  font-size: 1rem;
}
.mediablock__text li {
  font-family: poppinsFont;
}

.mediablock__media img {
  padding: 2rem;
  width: 100%;
}

.mediablock__media iframe {
  padding: 2rem;
  width: 100%;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 1200px) {
  .mediablock-left {
    flex-direction: column;
  }
  .mediablock-right {
    flex-direction: column;
    text-align: left;
  }
  .mediablock-row {
    flex-direction: column;
  }

  .mediablock-row img {
    margin: auto;
    width: 90%;
    max-width: 600px;
  }

  .mediablock__text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    width: 100%;
  }

  .mediablock__text-solo {
    width: 100%;
    padding: 1rem 1rem;
  }

  #mediablock__item-left {
    background-color: var(--nearwhite);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #mediablock__item-right {
    background-color: var(--nearwhite);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #mediablock__item-center {
    background-color: var(--nearwhite);
    border-radius: 10px;
  }

  .mediablock__text h1 {
    font-size: 8vw;
    text-align: center;
  }

  .mediablock__text p {
    margin: 1rem 1rem;
  }

  .mediablock__media {
    margin: auto;
    width: 100%;
  }
  .mediablock__text ul {
    margin: 1rem 2rem;
  }
}
@media screen and (max-width: 480px) {
  #legals_page h1 {
    font-size: 4vw;
    margin: 0.6rem 0;
  }
  #legals_page p, a, li {
    font-size: 3vw;
  }
}

.spotify {
  display: flex;
  justify-content: center;
}

.spotify__container {
  width: 70%;
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .spotify__container {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .spotify__container {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .indexyoutube__wrapper {
    margin: 1rem 0;
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel__title {
  align-content: center;
}

.carousel__title h1 {
  text-decoration: none;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(to right, #e4e4ed, #cbdeee);
  background: -webkit-linear-gradient(to right, #e4e4ed, #cbdeee);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.carousel__title a {
  text-decoration: none;
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.5);
  transition: font-size 0.3s ease, color 0.3s ease;
}

.carousel__title a:hover {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1200px) {
  .carousel__title h1 {
    font-size: 4vw;
    padding: 0.6rem;
  }
  .carousel__title a {
    font-size: 2.6vw;
    padding: 0.6rem;
  }
  .carousel__title a:hover {
    padding: 0.8rem;
    text-align: center;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.75);
  }
}