@font-face {
	font-family: cinzelFont;
	src: url(Fonts/Font_Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
	font-family: poppinsFont;
	src: url(Fonts/Font_Poppins/Poppins-Regular.ttf);
}

:root {
	--nearwhite: #F9F4F4;
  --dallasbrown: #785628;
  --harvestgold: #E6B97A;
  --aztecgold: #C49654;
	--inkblue: #0F2838;
  --slateblue: #224A63;
  --steelblue: #4E8DB5;
}

* {
  font-family: cinzelFont;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

.body__basboerboom {
  background-color: black;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../Pictures/Studio.jpg");
}
.body__bastianjohan {
  background-color: black;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../Pictures/BergenBenen.jpg");
}

body {
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	background-position: center;
  box-shadow: inset 0 0 200vw 0 rgba(0, 0, 0, 1);
  transition: opacity 1s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
}

strong, p, li {
  font-family: poppinsFont;
  color: var(--inkblue);
  font-size: clamp(0.8rem, 1.4vw, 1.2rem);
}

h1 {
  background-color: var(--inkblue);
  background-image: linear-gradient(to right, var(--slateblue) 0%, var(--inkblue) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Navbar Section */

.navbar {
	background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--slateblue);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.6rem;
}

#navbar-logotxt {
  display: flex;
  align-items: center;
  font-family: cinzelFont;
  color: var(--nearwhite);  
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
}

#navbar-logotxt:hover {
  color: var(--harvestgold);
  transition: all 0.3s ease;
}

#navbar-logo {
  height: 2.6rem;
  margin-right: 0.25rem;
}

.navbar__menu {
  display: flex;
  list-style: none;
}


.navbar__links {
  color: var(--nearwhite);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  margin-left: 2rem;
}

.navbar__links:hover {
  color: var(--harvestgold);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-right: 0.25rem;
}

.navbar__links:after {
  content: "";
  position: absolute;
  background-color: var(--harvestgold);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar__links:hover:after {
  width: 100%;
}

#dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  position: absolute;
  z-index: -1;
  display: none;
  list-style: none;
  top: 100%;
  transition: background-color 0.6s ease-in-out;
}

#dropdown-mobile {
  display: none;
}

#dropdown:hover #dropdown-menu {
  display: block;
}


@media screen and (max-width: 1200px){
  #navbar-logotxt {
    font-size: 1.4rem;
  }
  .navbar__menu {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    position: absolute;
    width: calc(100% - 2rem);
    top: -1000px;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--inkblue);
    border-radius: 6px;
    top: 100%;
    transition: all 0.5s ease;
    z-index: 2;
  }

  .navbar__menu.active.scrolled {
    margin-top: 1rem;
    transition: all 0.5s ease;
  }
	
  .navbar__item {
    display: grid;
    justify-content: center;
    padding: 2rem;
		width: 100%;
  }
	
  .navbar__links {
    margin-left: 0;
  }

	.navbar__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: var(--nearwhite);
		display: block;
    cursor: pointer;
	}

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Footer Section */

.footer__container {
  background-color: #131313;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 1rem;
}

.footer__link--items h2, .footer__link--items a {
  color: var(--nearwhite);
  font-family: poppinsFont;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 1rem;
  
}

.footer__link--items a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-in-out;
}

.footer__link--items a:hover {
  color: var(--harvestgold);
  transition: 0.3 ease-in-out;
}

.social_media {
  max-width: 1000px;
  width: 100%;
}

.website__rights {
  text-align: center;
  color: var(--nearwhite);
}

.social__icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.social__icon--style {
  width: 40px;
}

@media screen and (max-width: 480px) {
  .footer__links {
    flex-direction: column;
    width: 100%;
  }
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .footer__container {
    padding: 2rem;
  }

  .footer__link--wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__link--items {
    align-items: center;
  }
  .footer__link--items h2 {
    font-size: 1.2rem;
  }
  .footer__link--items a {
    font-size: 0.8rem;
  }

  .social__icon--style {
    width: 30px;
  }
  
  #footer__logo {
    font-size: 1.5rem;
  }
  .website__rights {
    text-align: center;
    font-size: 0.8rem;
  }
}

.breakline {
  height: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 90%;
  border-bottom: 2px solid var(--dallasbrown);
}