.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.article {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #4b5268;
	margin: 1rem;
	max-width: 1800px;
}

.table {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	list-style-position: inside;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: rgba(255, 255, 255, 0.091);
}

.table_column {
	display: flex;
	flex-direction: column;
}

.cell {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	max-width: 600px;
}